[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "lib/DirectXTK"]
	path = lib/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
	branch = master
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/freetype/freetype.git
	branch = master
[submodule "lib/LuaJIT-cmake"]
	path = lib/LuaJIT-cmake
	url = https://github.com/9chu/LuaJIT-cmake.git
	branch = master
[submodule "lib/luasocket"]
	path = lib/luasocket
	url = https://github.com/diegonehab/luasocket.git
	branch = master
[submodule "lib/cmrc"]
	path = lib/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
	branch = master
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
	branch = master
